@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@300;400;700&display=swap');
/* confg zera tudo*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Montserrat', Sans-serif;
}
/* config zera tudo fim*/

html{ /* faz os botões que mandam para cima e para baixo na pagina irem mais devagar*/
    scroll-behavior: smooth;
}

.body{
    background-color: rgb(255, 255, 255);
}

/* configuração section e footer*/
section, footer {
    padding: 30px 0;
}

/* configuração titulo 01*/
h3{
    font-size: 40px;
}

/* configuração paragrafo 01*/
p{
    font-weight: 400;
    color: rgb(63, 63, 63); /* cor do testinho*/
}

/* configuração container*/
.container{
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 5%;
}

/* configurando imagem de fundo principal*/


header{
    background: linear-gradient(to top, #000000, #000000, #df2935);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; /* fixando a imagem idenpedente da rolagem*/
    padding: 0px 0px 80px 0px;
}


/* configurando tela principal*/

.containerprinc{
    max-width: 1450px;
    margin: 0 auto;
    padding: 0px 0px 80px 0px;
}

.containerprinc2{
    max-width: 600px;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
}

.banner01{
    flex-direction: column;
    align-items: center; /* isso aqui ta colocando as imagens presas no centro, assistir o minuto 32 do video para entender */
}


/*configurando o epaço que as letra e botão ocupam na tela*/

.banner01 .banner-text01 img{
    width: 250px;
}

.banner01 .banner-text01{
    margin: 20px;
    text-align: center;
    padding: 0 90px;
}

.banner01 .banner-text02{
    width: 72%;
    padding: 35px 0px 25px 70px;
}

/*configurando o tirulo*/
.banner01 .banner-text02 .headline{
    font-size: 41px;
    color: white;
}

.banner01 .banner-text02 .subheadline{
    padding: 0px 0px 10px 0px;
}

.banner01 .banner-text02 .headline .rosa1{
    color: #ff9f1c;
}

/*configurando o tirulo*/
.banner01 .banner-text02 p{
    font-size: 19px;
    color: white;
    font-weight: lighter; /*efastando os outro elementos dele*/
    margin: 13px 0; 
    padding: 0px 0px 0px 0px;
}

.botãoprincipal{  /* centralizando botão*/
    display: flex;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 70px;
}

.btnprincipal{  /* botão*/
    background-color: #df2935;
    color: white;
    padding: 15px 20px;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
    font-size: 19px;
}
/*fim da tela principal*/

/* COMEÇO de serviço*/
.servicos2{
    background-color: #000000;
}

.container-servicos2{
    max-width: 1800px; /* aqui se você quiser os 4 quadradinhos enfileirados é só colocar o valor 1800px*/
    margin: 0 auto;
    padding: 0 5%;
}

.servicos2 .container-servicos2 .subheadline{
    margin: 0px;
    padding: 0px 0px 0px 0px;
    font-size: 18px;
    color: #ff9f1c;
}

.servicos2 .container-servicos2 .headline{
        font-size: 41px;
        color: rgb(255, 255, 255);
}

.servicos2 .container-servicos2 p{
    text-align: center;
    margin: 5px 0 10px 0;
    font-size: 19px;
    color: rgb(255, 255, 255);
}

.servicos2 .rows-cards2{
    display: flex;
    justify-content: center;
    margin: 20px 0px 30px 0px;
    flex-wrap: wrap;
    text-align: center;
}

.servicos2 .row-card-item2{
    background-color: #000000;
    width: 350px;
    padding: 20px;
    border-radius: 14px;
    margin: 20px;
    transition: 0.3s;
    border: 2px solid #f1f1f1;
}

.servicos2 .row-card-item2:hover{
    background-color: #df2935;
}

.servicos2 .row-card-item2:hover p{
    color: white;
}

.row-card-item2 .icons2 i{
    color: #ff9f1c;
}

.row-card-item2:hover .icons2 i{
    color: white;
    transition: 0.3s;
}

.servicos2 .row-card-item2 i {  /* isso aqui é a borda em torno da imagem*/
  font-size: 50px;
}

.servicos2 .row-card-item2 p.nome-servico{
    margin: 5px 0;
    transition: 0.3s;
}

.servicos2 .row-card-item2 p.descricao-servico{
    transition: 0.3s;
}

.botãoservico2{  /* centralizando botão*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btnservico2{  /* botão*/
    background-color: #df2935;
    color: white;
    padding: 15px 20px;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
    font-size: 19px;
}

/* fim de SERVIÇOS*/

/* começo config completa do texto e imagem */

.container-imagem-e-texto{
    max-width: 1450px;
    margin: 0 auto;
    padding: 0px 5% 20px;
    display: flex;
    align-items: center;
}

.container-imagem-e-texto .texto-quem{
    text-align: left;
}

.container-imagem-e-texto .texto-quem .subheadline{
    padding: 0px 0px 0px 0px;
}

.container-imagem-e-texto .texto-quem .headline{
    font-size: 41px;
    color: rgb(22, 22, 22);
}

.faca-mais-texto {
    width: 100%;
    justify-content: space-around;
}

.imagem-e-texto .left-side{
    padding: 10px 50px 10px 0px;
}

.imagem-e-texto .left-side div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .imagem-e-texto .left-side div i{
    font-size: 25px;
    margin-right: 10px;
    color: #ff9f1c;
    padding: 5px 0 20px 0;
  }
  
  .imagem-e-texto .container-imagem-e-texto .faca-mais-texto .left-side p{
    font-size: 20px;
  }


.faca-mais-imagem{
    width: 100%;
}

.faca-mais-imagem img{
    width: 90%;
    border: 1px solid #000000;
    border-radius: 20px;
}

/* fim config completa do texto e imagem*/

/*começo de depoimentos*/

.depoimentos{
    background-image: url(../img/fundo-depoimentos.png);
    background-position: center;
    background-size: cover;
    padding: 80px 0px 180px;
}

.texto-quem2{
    text-align: center;
}

.texto-quem2 .subheadline{
    padding: 0px 0px 0px 0px;
    color: #ff9f1c;
}

.texto-quem2 .headline{
    font-size: 41px;
    color: #ffffff;
}

.servicos3 .container-servicos3 p{
    padding: 5px 0 20px 0;
    font-size: 19px;
}

.depoimentos1{
    display: flex;
    padding: 40px 35px 0px;
    align-items: center;
    justify-content: center;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding: 17px;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img {
    background: #df2935;
    height: 98px;
    width: 98px;
    border-radius: 50%;
  }
  .card .img img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 5px 0 5px;
  }
  .carousel .card span {
    font-weight: 400;
    color: #5e5e5e;
    font-size: 15px;
    text-align: center;
  }
/*fim de depoimentos*/

/* COMEÇO de beneficios*/

.beneficios{
    background-color: #ffffff;
}

.container-servicos{
    max-width: 1300px; /* aqui se você quiser os 4 quadradinhos enfileirados é só colocar o valor 1800px*/
    margin: 0 auto;
    padding: 0 5%;
}

.beneficios .container-servicos .texto-quem4{
    text-align: center;
}

.beneficios .container-servicos .texto-quem4 .subheadline{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px ;
    color: #000000;
}

.beneficios .container-servicos .texto-quem4 .headline{
    font-size: 41px;
    color: rgb(22, 22, 22);
}

.beneficios .container-servicos p{
    text-align: center;
    margin: 5px 0 10px 0;
    font-size: 18px;
    color: #ffffff;
}

.beneficios .rows-cards{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    text-align: center;
}

.beneficios .row-card-item{
    background-color: #000000;
    width: 350px;
    padding: 20px;
    border-radius: 14px;
    margin: 20px;
    transition: 0.3s;
     border: 2px solid #000000;
}

.beneficios .row-card-item:hover{
    background-color:#df2935;
}

.beneficios .row-card-item:hover p{
    color: rgb(255, 255, 255);
}

.beneficios .row-card-item img{  /* isso aqui é a borda em torno da imagem*/
  width: 130px;
  padding: 15px;
}

.beneficios .row-card-item p.nome-servico{
    margin: 5px 0;
    transition: 0.3s;
    font-size: 19px;
}

.beneficios .row-card-item p.descricao-servico{
    transition: 0.3s;
}

.botãoservico1{  /* centralizando botão*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px 0px 0px 0px;
}

.btnservico1{  /* botão*/
    background-color: #df2935;
    color: white;
    padding: 15px 20px;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
    font-size: 19px;
}
/* fim de beneficios*/


/*começo de sobre*/
.sobre{
    background-image: url(../img/fundo-sobre.png);
    background-position: center;
    background-size: cover;
    padding: 60px 70px 60px 70px; /*mudar isso no cell(ainda não foi mudado*/
  }
  

.sobre .texto-quem3{
    text-align: center;
  }

  .sobre .texto-quem3 .subheadline{
    margin: 0px;
    padding: 0px 0px 0px 0px;
    font-size: 18px;
    color: #ff9f1c;
}

.sobre .texto-quem3 .headline{
        font-size: 41px;
        color: #ffffff;
}

  
  .container-img-txt3{
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 0px;
    display: flex;
    align-items: center;
  }
  
  .faca-mais-text3 {
    width: 100%;
    padding: 0px 0px 0px 0px; /* MUDAR ISSO NO CELL(AINDA NÃO FOI MUDADO) */
    justify-content: space-around;
  }
  
  .faca-mais-text3 h3{
    font-size: 25px;
    color: #ffffff;
  }
  
  .faca-mais-text3 .ptxtimg3{
    margin: 15px 100px 10px 0px;
    font-size: 18px;
    text-align: justify;
    color: #acacac;
  }
  
  .faca-mais-img3{
    width: 70%;
    border-radius: 50%;
  }
  
  .faca-mais-img3 img{
    width: 100%;
    border-radius: 50%;
  }
    
/*fim de sobre*/

/* começo footer/rodapés */

.footer{
    background-color: #000000;
    text-align: center;
    padding: 20px;
}

.footer p{
    margin-top: 10px;
    color: white;
}

/* fim footer/rodapés */

/* COMEÇO RESPONSIVO*/

@media(max-width: 830px){
/* começo pagina incial + formulario*/

header{
    padding: 0px 5px 1px 5px;
}

.containerprinc {
  max-width: 1900px;
}

.containerprinc2{
    max-width: 1900px;
}

.containerprinc2{
    width: 100%;
   max-width: 1900px;
}

.banner01 .right-site01{
    padding: 10px 10px 10px 10px;
}

.banner01 .banner-text01{
    padding: 0;
    margin: 0px;
}

.banner01 .banner-text01 img{
    width: 170px;
}

.banner01 .banner-text02 .headline{
  font-size: 36px;
  padding: 0px 12px 0px 12px
}


.banner01 .banner-text01 p{
  font-size: 16px;
}

.banner01 .banner-text02 .subheadline{
    padding: 0px 15px 0px 15px;
}

.banner01 .banner-text02{
    text-align: center;
    width: 100%;
    padding: 35px 0px 25px;
}

.botãoprincipal{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px
}

/* fim pagina incial + formulario*/

/*começo de serviços 2*/
.servicos2 .container-servicos2 .subheadline{
    margin: 0px;
    padding: 0px 0px 0px 0px;
    font-size: 18px;
    color: #ff9f1c;
}

.servicos2 .container-servicos2 .headline{
        font-size: 35px;
        color: rgb(255, 255, 255);
}
/*fim de serviços 2*/

    /* imagem + texto RESPONSIVO*/
.imagem-e-texto .faca-mais-texto{
    margin-top: 10px;
    padding: 0 20px;
    order: 1;
}

.container-imagem-e-texto{
    flex-direction: column;
}

.container-imagem-e-texto .texto-quem{
    text-align: center;
}

.container-imagem-e-texto .texto-quem .subheadline{
    padding: 0px 0px 0px 0px;
}

.container-imagem-e-texto .texto-quem .headline{
    font-size: 35px;
    color: rgb(22, 22, 22);
}

.faca-mais-texto,
.faca-mais-imagem{
    width: 100%;
}

.imagem-e-texto .left-side {
    padding: 10px 0px 10px 0px;
}

.faca-mais-imagem img{
    width: 100%;
}
/* fim da imagem + texto RESPONSIVO*/

/*começo de depoimentos*/
.depoimentos {
    padding: 80px 25px 180px;
}

.texto-quem2 .headline{
    font-size: 35px;
    color: #ffffff;
}

.depoimentos1{
    padding: 40px 15px 0px;
}

.wrapper .carousel{
    grid-auto-columns: calc((100% / 2) - 9px);
  }
  
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
    }
      .wrapper i:first-child{
        left: -31px;
      }
      .wrapper i:last-child{
        right: -31px;
      }
/*fim de depoimentos*/

.btnservico1{
    font-size: 20px;
}

/*começo de beneficios*/
.beneficios .container-servicos .texto-quem4 .subheadline{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px ;
    color: #000000;
}

.beneficios .container-servicos .texto-quem4 .headline{
    font-size: 35px;
    color: rgb(22, 22, 22);
}
/*fim de beneficios*/

/*começo de sobre*/

.sobre{
    padding: 60px 0px 60px 0px; /*mudar isso no cell(ainda não foi mudado*/
}

.sobre .texto-quem3{
    padding: 0px 25px;
}

.sobre .texto-quem3 .subheadline{
    margin: 0px;
    padding: 0px 0px 0px 0px;
    font-size: 18px;
    color: #ff9f1c;
}

.sobre .texto-quem3 .headline{
        font-size: 35px;
        color: #ffffff;
}

.container-img-txt3{
    flex-direction: column;
    padding: 40px 25px;
}

.faca-mais-text3 .ptxtimg3 {
    margin: 15px 0px 30px 0px;
    font-size: 18px;
}

/*fim de sobre*/

/* começo serviço2*/

.btnservico2{
    font-size: 18px;
}
/* fim Serviço2*/

}

